h1{
    margin: 0 auto;
    text-align: center;

}   
.sidebar.close .master{

    width: 100%;
    height: 5%;
    position: absolute;
    bottom: 500px;
}
.sidebar.close .master2{

    width: 100%;
    height: 5%;
    position: absolute;
    bottom: 450px;
}

.sidebar.close .master2:hover .flexcolumnabsolute2 {
    top:10px;
    display: block;
}

.sidebar.close .master:hover .flexcolumnabsolute1 {
    top:-10px;
    display: block;
}

.sidebar.close .master3{
   
    width: 100%;
    height: 5%;
    position: absolute;
    bottom: 285px;
}

.sidebar.close .master3:hover .flexcolumnabsolute3 {
    top:0;
    display: block;
}

body{
  
    
    margin: 0;
    padding: 0;
    
}
.Container{
  display: flex;
}
.logo{
    font-size: 15px;
    padding: 10px;
}
.sidebar{
    background-color: #1565c0;
    width: 14%;
    margin: 0;
    height: 100%;
    overflow: auto;

}

    .sidebar::-webkit-scrollbar{
        display: none;
        
      }
.singlemenu{
    width: 100%;
    font-size:30px;
    margin-top: 20px;
    user-select: none;
    transition: all 1s;
   
}
.listhover:hover{
    background-color: #9575cd;
}
.listhover{
    width: 100%;
    text-align: center;
}
.flexrow
{display: flex;
justify-content: space-between;
align-items: center;
cursor: pointer;
position: relative;
}
.sidebarlist{
    width: 100%;
    font-size:30px;
    margin-top: 20px;
    user-select: none;
    transition: all 1s;
  
    
}
.fa-arrow-down-long{
    transition: all 0.9s;
}
.flexcolumn{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.menu{
    display:    none;
}
.show{
    display: block;
}
.deg{
    transform: rotate(180deg);
}
.profileimage{
    width: 40px;
    border-radius: 200px;
}
.profile{
display: flex;
flex-direction: row;
justify-content: space-between;

}
.fa-door-open{
    font-size: 20px;
    padding: 50px;
   
}
.fa-solid.fa-door-open:hover{
    background-color: #9575cd;
}
.home-section{
    width: 86%;
    right: 0;
    height: 100vh;
    background-color: gray ;
    transition: all 1s;
    position: absolute;
}

.sidebarclose{
    width: 98%;
}

.close .flexcolumnabsolute1 {
    position: absolute;
   left: 190px;
 z-index: 1;
    top: 100px;
 
 width: 10%;
    
}

.close .flexcolumnabsolute2{
    position: absolute;
   left: 190px;
 z-index: 1;
    top: 150px;
 
 width: 10%;
    
}
.close .flexcolumnabsolute3{
    position: absolute;
   left: 190px;
 z-index: 1;
    top: 320px;
 
 width: 10%;
    
}